.todo_form{
    position: relative;
    width: 100%;
    height: 70px;
    margin-top: 20px;
}
input{
    outline: none;
}
.todo_form .input_form{
    width: 100%;
    height: 80%;
    color: #333;
    transform-origin: center;
    transform:scaley(80%) ;
    padding-left: 10px;
    border: .8px solid rgb(16, 156, 156);
    border-radius: 50px;
    transition: all .25s ease;
}
.todo_form .input_form:focus{
    transform: scaley(100%) ;
    border: 0;
}
.todo_form .form_btn{
    position: absolute;
    top: 17%;
    right: 1.2%;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    transform-origin: center;
    transform:scale(100%) ;
    padding: 10px;
    border: 0;
    border-radius: 50%;
    background-color: rgb(10, 10, 195);
    box-shadow: 0 0 10px rgba(0, 0, 255, 0.586);
    transition: all .25s ease;
    cursor: pointer;
}
.todo_form .form_btn:hover{
    background-color: rgba(10, 10, 195, 0.698);
    box-shadow: 0 0 10px rgba(0, 0, 255, 0.405);
}
.todo_form .form_btn:active{
    background-color: rgb(20, 20, 121);
    box-shadow: 0 0 20px rgba(0, 0, 255, 0.405);
    transform: scale(40%) ;
}
/* end of todo form input */


/* 
  start of todo list  */

.todos_list_container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    grid-row-gap: 25px;
    grid-column-gap: 50px;
    height: auto;
    width: 100%;
    margin-top: 10px;
}
.todo_list_form{
    flex: 1 0 320px;
    max-width: 640px;
    display: flex;
    justify-content: space-between;
    grid-column-gap: 10px;
    padding-inline: 25px;
    padding-block: 20px;
    background-color: rgb(148, 148, 21);
    border: 1px solid rgb(148, 148, 21, .6);
    border-radius: 20px;
    box-shadow: 0 0 10px rgb(148, 148, 21, .4);
}
.todo_list_text{
    font-size: 18px;
    font-weight: 400;
    text-align: start;
    color: #fff;
    flex: 1;
    padding: 2px;
}
.todo_list_text.edit .edit_input{
    width: 100%;
    padding: 8px;
    border: 0;
    border-radius: 20px;
}
.todo_list_action_btn_container{
    display: flex;
    align-items: center;
    grid-column-gap: 8px;
    height: 100%;
}
.todo_list_action_btn_container .icon{
    cursor: pointer;
}